@import "./components/header";
@import "./components/main";

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background-image: url("../images/desk-header.png");
  height: 540px;
  padding: 19px 0 0 0;
  margin: 0 0 65px 0;
}

@media (min-width: 768px) {
  .container{
    width: 740px;
  }
}

@media (min-width: 1200px) {
  .container{
    width: 1150px;
  }
}