.header__panel_content {
  display: flex;
  flex-direction: column;
}

.header__panel_content-logo {
  display: none;
}

.headfer__panel_content-registr {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.header__panel_content-link {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 13.986px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.header__panel_content-button {
  background: rgba(26, 25, 21, 0);
  border: #fff 2px solid;
  padding: 10px 15px;
  border-radius: 45px;
}

.header__essential {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 112px 0 0 0;
}

.header__essential-logo {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header__essential-title {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 30.041px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.header__essential-text {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 18.025px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 236px;
}

.header__essential-button {
  padding: 13px 38px;
  background: #ff4e50;
  border: none;
  border-radius: 45px;
}

.header__essential-link {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 13.999px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (min-width: 768px) {
  .header {
    height: 680px;
  }
  .header__panel_content-logo {
    display: flex;
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .header__panel_content {
    flex-direction: row;
    justify-content: center;
    gap: 310px;
  }
  .header__essential-logo {
    display: none;
  }
  .header__essential-title {
    width: 507px;
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 52.046px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
  .header__essential-text {
    width: 428px;
  }
}
@media (min-width: 1200px) {
  .header__panel_content {
    gap: 580px;
  }
}
.main__content-card-text4, .main__content-card-text3, .main__content-card-text2, .main__content-card-text1 {
  color: #666;
  text-align: center;
  font-family: Roboto;
  font-size: 14.011px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.airplane, .tea, .flask, .tv {
  position: absolute;
  border: #fff 4px solid;
  border-radius: 50px;
  bottom: 0;
  left: 85px;
}

.main__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main__content-title {
  color: #333;
  text-align: center;
  font-family: Montserrat;
  font-size: 22.004px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 268px;
}

.main__content-people {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main__content-card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__content-card-photo1,
.main__content-card-photo2,
.main__content-card-photo3,
.main__content-card-photo4 {
  position: relative;
}

.tv {
  padding: 8px 10px;
  background-color: #ff4e50;
}

.main__content-card-title {
  color: #333;
  text-align: center;
  font-family: Montserrat;
  font-size: 14.011px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main__content-card-text1 {
  width: 224px;
}

.flask {
  padding: 9px 12px;
  background-color: #ffa507;
}

.main__content-card-text2 {
  width: 247px;
}

.tea {
  padding: 8px 10px;
  background-color: #1cd7ad;
}

.main__content-card-text3 {
  width: 241px;
}

.airplane {
  padding: 9px 10px;
  background-color: #4e73db;
}

.main__content-card-text4 {
  width: 224px;
}

.main__content-card2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__content-card3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__content-card4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__content-button {
  margin: 29px 0 57px 0;
  padding: 12px 59px;
  border: #ff4e50 2px solid;
  background: rgba(26, 25, 21, 0);
  border-radius: 45px;
}

.main__content-link {
  text-decoration: none;
  color: #ff4e50;
  text-align: center;
  font-family: Montserrat;
  font-size: 14.001px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (min-width: 768px) {
  .main__content {
    align-items: center;
  }
  .main__content-people {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .main__content-card1 {
    order: 1;
  }
  .main__content-card2 {
    order: 3;
  }
  .main__content-card3 {
    order: 2;
  }
  .main__content-card4 {
    order: 4;
  }
}
.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background-image: url("../images/desk-header.png");
  height: 540px;
  padding: 19px 0 0 0;
  margin: 0 0 65px 0;
}

@media (min-width: 768px) {
  .container {
    width: 740px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1150px;
  }
}/*# sourceMappingURL=style.css.map */